[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = Device Tree For Redmi S2/Y2
[access "refs/*"]
	owner = group user/Tushar Mahajan (mahajant99)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Tushar Mahajan (mahajant99)
	label-Verified = -1..+1 group user/Tushar Mahajan (mahajant99)
	push = group user/Tushar Mahajan (mahajant99)
	read = group user/Tushar Mahajan (mahajant99)
	rebase = group user/Tushar Mahajan (mahajant99)
	removeReviewer = group user/Tushar Mahajan (mahajant99)
	submit = group user/Tushar Mahajan (mahajant99)
[access "refs/heads/*"]
	create = group user/Tushar Mahajan (mahajant99)
	push = +force group user/Tushar Mahajan (mahajant99)
	pushMerge = group user/Tushar Mahajan (mahajant99)
	read = group user/Tushar Mahajan (mahajant99)
[access "refs/tags/*"]
	push = group user/Tushar Mahajan (mahajant99)
	push = +force group user/Tushar Mahajan (mahajant99)
